<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.Listners"></listener>
    </listeners>
    <test name="All Test Suite">
        <classes>
            <class name="TestCases.CartTests">
            </class>
        </classes>
    </test>
</suite>